/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-select-trigger {
    display: block;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    margin-top: 10px;
    text-indent: 0px;
  }
